@import "colors";
@import "dimensions";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: ($wide + $moderate) * 2 + $standard_line_height;
  background-color: $white;
}

header {
  background-color: $navy;

  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      float: left;
      font-weight: bold;
      line-height: 100%;
      border-right: $line solid $white;

      a {
        font-size: $large;
        height: $very_wide * 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        padding: 0 $very_wide * 2;
      }

      a.logo-mark {
        padding: 0 $very_wide * 1.5;
        font-size: $xlarge;
        text-decoration: none;
      }

      a.menu {
        text-decoration: none;
        transition: .3s;
      }

      a.menu:hover {
        background-color: $orange;
      }
    }

    li:last-child {
      border-right: none;
    }
  }
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $navy;
  color: $white;

  p {
    text-align: center;
    padding: $moderate;
    margin: 0;
  }
}