<header>
    <ul>
        <% # [ToDo]link_toメソッドに置き換える %>
        <li>
            <a class="logo-mark" href="#">OpenForum</a>
        </li>

        <li>
            <a class="menu" href="#">スレッド</a>
        </li>

        <li>
            <a class="menu" href="#">機能A</a>
        </li>
    </ul>
</header>